@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --theme-color: #e9b824;
  --bg-color: #e9b824;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: var(--bg-color);
}

.wrapper {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}

.class {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 20px;
}

#header {
  text-align: center;
}

#hero {
  text-align: center;
}

#hero h1 {
  color: #288f85;
  font-size: 64px;
  line-height: 1.2;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}

#hero p {
  color: #333;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.button {
  background-color: #d83f31;
  color: #fff;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 60px;
  display: inline-block;
}
